---
# Required front-matter (the dashes are enough)
---

@charset "utf-8"

//------------------------------------------------------------
//
//  Base
//
//------------------------------------------------------------

@import 'base/normalize'
@import 'base/syntax-highlighting'

//------------------------------------------------------------
//
//  Modules
//
//------------------------------------------------------------

@import 'modules/mixins'

//------------------------------------------------------------
//
//  Structure
//
//------------------------------------------------------------

@media screen and (min-width: 320px)
  \:root
    font-size: calc(16px + (24 - 16) * (100vw - 320px)/(1600 - 320))
    line-height: 1.5

@media screen and (min-width: 1000px)
  \:root
    font-size: 22px

@-ms-viewport
  width: device-width

*, *:before, *:after
  box-sizing: border-box

.js body, .no-js body, .wf-active body, .wf-inactive body
  opacity: 1

body
  opacity: 0

a
  text-decoration: none

img
  -ms-interpolation-mode: bicubic
  // margin-left: auto
  // margin-right: auto
  display: block
  height: auto !important
  max-width: 100%
  vertical-align: middle
