<footer class="footer">
  <div class="inner">
    <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

{% assign scripts = page.scripts %}
<script src="{{ 'jquery.smoothState.min.js' | prepend: 'js/vendor/' | prepend: asset_path }}"></script>
<script src="{{ 'all.js' | prepend: 'js/' | prepend: asset_path }}"></script>
{% if scripts %}
  {% for js in scripts %}
    <script src="{{ js | prepend: 'js/' | prepend: asset_path }}"></script>
  {% endfor %}
{% endif %}
