{% comment %}
<!-- USUAGE

  Add include where you want the list to appear

    {% include pages_list.html %}

  Frontmatter of pages must include:

    ---
    group: navigation
    weight: #
    ---

 -->
{% endcomment %}

{% assign pages_list = site.pages | sort: "weight" %}
{% assign group = 'navigation' %}
{% for single in pages_list %}
  {% if group == null or group == single.group %}
    {% if page.url == single.url %}
      <li class="active"><a href="{{single.url}}" class="active">{{single.title}}</a></li>
    {% else %}
      <li><a href="{{single.url}}">{{single.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}