//------------------------------------------------------------
//
//  Variables
//
//------------------------------------------------------------

// Bourbon (Overwrite global Bourbon)
$bourbon: (
  "modular-scale-ratio": 1.067
);

$animation: (
  speedIn : 200ms,
  speedOut: 1200ms
);
$colors: (
  'background'   : lemonchiffon,
  'hover'        : #47FC00,
  'text'         : #000,
  'soft'         : rgba(0,0,0, 0.25),
  'anchor'       : #000,
  'gray'         : #828282,
  'code'         : rgba(0, 0, 0, 0.05)
);
$breakpoints: (
  mobile    : 481px,
  tablet    : 768px,
  desktop   : 1030px,
  large     : 1240px
);
$rootsizes: (
  mobile  :   modular-scale(1),
  tablet  :   modular-scale(2),
  desktop :   modular-scale(3),
  large   :   modular-scale(5)
);
$lineheights: (
  leading-1 :   modular-scale(3),
  leading-2 :   modular-scale(3),
  leading-3 :   modular-scale(4),
  leading-4 :   modular-scale(4)
);

$sizes:   map-values($rootsizes);
$points:  map-values($breakpoints);
$leadings : map-values($lineheights);
$breakpoints_total: length($breakpoints);
